#drop_zone {
    border: 5px solid blue;
    width:  400px;
    height: 400px;
  }

  #image_display
  {
      margin: auto;
      width: 100px;
      display: grid;
      /*
      grid-template-columns: 105px 105px;
      grid-template-rows: 105px;
      */
  }

  /*
 #cropped > canvas {
     /*
    background-color: rgba(255, 255, 255, 0.8);
    /*
    text-align: center;
    /*
    width: 100px;
    /*
    height: 100px;
    /*
 } 
 */