body{
  font-family: "Roboto", "Arial" , sans-serif ;
}
.header{
  margin: 30px auto 15px auto;
  text-align: center;
}
.title h1{
  margin: auto;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content;
  width: max-content;
  background: -webkit-linear-gradient(left, #FEDA77, #F58529, #DD2A7B, #8134AF, #515BD4 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.drop_zone_container{
  width:  60vw;
  height: 70vh;
  position: relative;
  background: linear-gradient(to right, #FEDA77, #F58529, #DD2A7B, #8134AF, #515BD4);
  margin: auto;
  padding: 3px;
}
.splitted{
  display: none;
  height: auto;
}

#drop_zone {
    background: #fff;
    width:  100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
  }

  #drop_message{
    margin: 150px auto 0 auto;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
  }

  #drop_message:hover{
    background: #515BD4;
    color:#fff;
  }

  #image_display {
      display: grid;
  }

  #dl_button{
    margin: 10px auto;
    width:  612px;
  }
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
