#drop_zone {
    border: 5px solid blue;
    width:  300px;
    height: 300px;
  }

  #cropped
  {
      width: 400px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

 #cropped > canvas {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    width: 200px;
 } 